@model ICollection<Review>
@{
    Layout = "_AdminLayout";
}
@{
    List<Review> piblishedComments = Model.Where(x => x.IsPublished).ToList();
    List<Review> notPublishedComments = Model.Where(x => !x.IsPublished).ToList();
}

<h2>Управление отзывами</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="border border-dark">
                <h3>Опубликованные</h3>
            </div>
            @foreach (var comment in piblishedComments)
            {
                <div class="border border-dark">
                    <div>@comment.SenderName</div>
                    @*<div>На @comment.Service.Title</div>*@
                    <div>@comment.Message</div>
                    <div>
                        <a asp-controller="Admin" asp-action="DeleteReview" asp-route-id="@comment.Id">Удалить</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-6">
            <div class="border border-dark">
                <h3>Не опубликованные</h3>
            </div>
            @foreach (var comment in notPublishedComments)
            {
                <div class="border border-dark">
                    <div>@comment.SenderName</div>
                    @*<div>На @comment.Service.Title</div>*@
                    <div>@comment.Message</div>
                    <div>
                        <a asp-controller="Admin" asp-action="PostReview" asp-route-id="@comment.Id">Опубликовать</a>
                        <a asp-controller="Admin" asp-action="DeleteReview" asp-route-id="@comment.Id">Удалить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
