<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header class="border border-dark">
            <div class="container-fluid">
                <div class="row justify-content-between" style="height: 150px;">
                    <div class="col-md-4 border justify-content-end">
                        <span>LOCATION</span>
                    </div>
                    <div class="col-md border">
                        <img src="~/Images/static/location-icon.png" class="flex-image" />
                    </div>
                    <div class="col-md-3 border text-center h-100">
                        <img src="~/Images/static/logo.png" class="flex-image" />
                    </div>
                    <div class="col-md border">
                        <img src="~/Images/static/workhours-icon.png" class="flex-image" />
                    </div>
                    <div class="col-md-4 border">
                        TEXT
                        text
                    </div>
                </div>
                
                <nav class="row justify-content-center" style="height: 90px">
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.Index)">Главная</a>
                    </div>
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.About)">О нас</a>
                    </div>
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.Services)">Услуги</a>
                    </div>
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.Specialists)">Специалисты</a>
                    </div>
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.Prices)">Прайс</a>
                    </div>
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.Reviews)">Отзывы</a>
                    </div>
                    <div class="col-1 border border-dark">
                        <a asp-controller="Home" asp-action="@nameof(HomeController.Contacts)">Контакты</a>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer class="border border-dark">
            <div class="contaner-fluid">
                <div class="row justify-content-start">
                    <div class="col">
                        FOOTER INFO
                    </div>
                    <div>
                        <a asp-controller="Home" asp-action="AddReview">Оставить отзыв</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
