@using ShopOfServices.Controllers;
@model ShopOfServices.ViewModels.Home.AddReviewViewModel
@{
    Layout = "_Layout";
}

<section class="p-4">
    <div class="container">
        <div class="row mb-3">
            <div class="col text-center">
                <h2>Оставить отзыв</h2>
            </div>
        </div>
        <form asp-controller="Home" asp-action="@nameof(HomeController.AddReview)" method="post">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label class="form-label">Ваш Email для связи</label>
                <input class="form-control" asp-for="Email" type="email" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Ваше имя</label>
                <input class="form-control" asp-for="Name" type="text" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Выберите услугу которой вы пользовались</label>
                <select class="form-select" asp-for="@Model.SelectedServiceId" required>
                    <option value="">Выберите услугу</option>
                    @foreach (var category in Model.Categories)
                    {
                        <optgroup label="@category.Name">
                            @foreach (var service in category.Services)
                            {
                                <option value="@service.Id">@service.Name</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Отзыв</label>
                <textarea class="form-control" asp-for="Message" rows="5" required></textarea>
            </div>
            <input class="btn btn-success" type="submit" />
        </form>
    </div>
</section>