@*@model ShopOfServices.ViewModels.Home.MainPageViewModel*@
@model (Category[] categories, Specialist[] specialists, Review[] reviews)
@{
    Layout = "_Layout";
    bool firstReview = true;
}

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>Наши услуги</h2>
                <p>Все услуги проводятся на высокоточном оборудовании с использованием самых современных технологий</p>
            </div>
        </div>
        <div class="row justify-content-center gy-4">
            @*@for (int i = 0; i < 3; i++)*@
            @foreach (var category in Model.categories)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-card">
                        <img class="service-card-img" src="@category.Image.GetPath()" alt="@category.Name">
                        <div class="service-card-body">
                            <h5 class="service-card-title">@category.Name</h5>
                            <p class="service-card-text">@category.Description</p>
                            <a asp-controller="Home" asp-action="@nameof(HomeController.Service)" asp-route-id="@category.Id" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="bg-light p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>Наши врачи</h2>
                <p>Все наши врачи квалифицированные специалисты, которые прошли обучение по самым высоким медицинским стандартам</p>
            </div>
        </div>
        <div class="row justify-content-center gy-3 gx-5">
            @*@for (int i = 0; i < 3; i++)*@
            @foreach (var specialist in Model.specialists)
            {
                    <div class="col-6 col-md-4 col-lg-3">
                    <div class="specialist-card">
                        <img class="specialist-card-img" src="@specialist.Image.GetPath()" alt="@specialist.GetFIO()">
                        <div class="specialist-card-body">
                            <h5 class="specialist-card-fio">@specialist.GetFIO()</h5>
                            <span class="specialist-card-post">@specialist.Post</span>
                            <p class="specialist-card-text">@specialist.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>Отзывы клиентов</h2>
                <p>Посмотрите что наши клиенты говорят о нас</p>
            </div>
        </div>
    </div>
    <div id="carouselLittleReviews" class="carousel slide pb-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for(int i = 0; i < Model.reviews.Length; i+=3)
            {
                <div class="carousel-item @(firstReview ? "active" : "")">
                    <div class="container">
                        <div class="row gy-3 justify-content-center">
                            @for (int j = i; j < i + 3 && j < Model.reviews.Length; j++)
                            {
                                <div class="col-md-4">
                                    <div class="review-card bg-light">
                                        <h3 class="review-card-fio">@Model.reviews[j].SenderName</h3>
                                        <span class="review-card-service">@Model.reviews[j].Service.Name</span>
                                        <p class="review-card-message">@Model.reviews[j].Message</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                firstReview = false;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselLittleReviews" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselLittleReviews" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</section>