@model Category
@{
    Layout = "_Layout";
}

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>@Model.Name</h2>
            </div>
        </div>
        <div class="row justify-content-center gx-5">
            <div class="col-12 col-lg-4">
                <img src="@Model.Image.GetPath()" class="m-3 mt-0 rounded-2 w-100" align="left" />
            </div>
            <div class="col-12 col-lg-8">
                <p>@Model.Description</p>
                <h5>Услуги</h5>
                <table class="table">
                    <thead>
                        <tr class="table-bordered">
                            <th scope="col">Услуга</th>
                            <th scope="col">Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var service in Model.Services)
                        {
                            <tr>
                                <td>@service.Name</td>
                                @if (service.Price > 0)
                                {
                                    <td>от @service.Price руб.</td>
                                }
                                else
                                {
                                    <td>Бесплатно</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


