@model ShopOfServices.ViewModels.Home.ServiceViewModel
@{
    Layout = "_Layout";
}
@{

    List<Review> publishedComments = new();
    if (Model.Comments != null)
    {
        publishedComments = Model.Comments.Where(x => x.IsPublished).ToList();
    }
}

<h2>Услуга</h2>
<div>
    <img src="@Model.ImagePath" height="400" width="300" />
</div>
<h3>@Model.Title</h3>
<h4>@Model.FullDescription</h4>
<h4>Специалисты</h4>
@foreach (var specialist in Model.Specialists)
{
    <div class="boreder border-dark">
        <h4>@specialist.GetFIO()</h4>
    </div>
}
<h4>Отзывы</h4>
@if (publishedComments.Count > 0)
{
    foreach (var comment in publishedComments)
    {
        <div class="border border-dark">
            <h5>@comment.SenderName</h5>
            <h5>@comment.Message</h5>
        </div>
    }
}
else
{
    <div class="border border-dark align-content-center">
        <h4>Отзывов пока нет</h4>
    </div>
}
<div class="border border-dark">
    <a asp-controller="Home" asp-action="AddComment" asp-route-id="@Model.Id">Оставить отзыв</a>
</div>


