@model Specialist[]
@{
    Layout = "_Layout";
}

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>Наши врачи</h2>
                <p>Все наши врачи квалифицированные специалисты, которые прошли обучение по самым высоким медицинским стандартам</p>
            </div>
        </div>
        <div class="row justify-content-center gy-3 gx-5">
            @for (int i = 0; i < 3; i++)
                @foreach (var specialist in Model)
                {
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="specialist-card">
                            <img class="specialist-card-img" src="@specialist.Image.GetPath()" alt="@specialist.GetFIO()">
                            <div class="specialist-card-body">
                                <h5 class="specialist-card-fio">@specialist.GetFIO()</h5>
                                <span class="specialist-card-post">@specialist.Post</span>
                                <p class="specialist-card-text">@specialist.Description</p>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</section>

